*,
*:before,
*:after {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: $bckg-page;
  color: $color_font;
  font-size: $font-size;
  padding: 0;
  margin: 0;
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: normal;
  line-height: normal;
  position: relative;
  @include animate_all(all 2s);

	&.activ{
		overflow:hidden;
	}

  &.show{

  }
}

p,ul,ol{
  padding:0px;
  margin:0px;
}
h1,h2,h3,h4,h5,h6{
  padding:0px;
  margin:0px;
  font-family: $font-heading;
  font-weight: $font-heading-weight;
}
button{
  border:none;
  padding:0px;
  margin:0px;
  background:none;
  cursor:pointer;
}

a{
  text-decoration:none;
  color:$color_font;
  @include animate_all(all .4s);

  &:hover{
    color: $color_blue;
  }
}


.wrap{
  width:100%;
  max-width:$wrap;
  margin:0 auto;
  padding:0 10px;
  // @include oublack;

  .region-content &{
    max-width:920px;
  }
}

.menu{
  @include flex;

  .menu--footer &{
    margin:0;
  }

  li{

    a{
      display: block;
      font-size:14px;
    }
  }
}
