@keyframes animiraj_zooom {
  from  { transform: scale(1.1, 1.1); }
  50%   { transform: scale(1.25, 1.25); }
  to    { transform: scale(1.1, 1.1); }
}
@-webkit-keyframes animiraj_zooom {
  from  { transform: scale(1.1, 1.1); }
  50%   { transform: scale(1.25, 1.25); }
  to    { transform: scale(1.1, 1.1); }
}

@keyframes opacityOnOff {
  from  { background:rgba(#000, .6); }
  50%   { background:rgba(#000, .95); }
  to    { background:rgba(#000, .6); }
}
@-webkit-keyframes opacityOnOff {
  from  { background:rgba(#000, .6); }
  50%   { background:rgba(#000, .95); }
  to    { background:rgba(#000, .6); }
}
