.region-footer{
  background-color:#f0f0f0;
  // padding:20px 0 25px;
  padding:40px 0 45px;
  margin-top:70px;

  .wrap{
    text-align: center;

    @include break(425px){
      text-align: left;
      @include flex;
      @include flex_align(center);
      @include flex_justify(space-between);
    }

    .menu{
      @include flex_justify(center);

      li{

        a{
          display: block;
          padding:10px;

          @include break(425px){
            padding:10px 27px 10px 0px;
          }
        }
      }
    }

    .create_by{
      margin:40px 0 0;

      @include break(425px){
        margin:0;
      }
    }
  }
}
