.preloader{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:#fff;
  pointer-events: none;
  z-index:1;
  @include animate_all(all 1s);

  .show &{
    opacity:0;
  }
}


header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:56px 0;
  z-index: 1;
  @include animate_all(all .4s);

  &.small{
    padding:10px 0;
    background:#fff;
    box-shadow: 0px 5px 20px 2px rgba(#000, .1);
  }

  .wrap{
    @include flex;
    @include flex_align(center);
    @include flex_justify(space-between);
    // @include oublack;
  }
}

#block-adchallenge-main-menu{

  .menu{
    margin-right:-10px;

    li{

      a{
        position:relative;
        font-size:14px;
        text-transform: uppercase;
        @include animate_all(all .4s);

        &:after{
          content:"";
          position:absolute;
          bottom:0;
          left:50%;
          @include position_center_X;
          width:0px;
          height:1px;
          background-color:$color_red;
          @include animate_all(all .4s);
        }

        &:hover,
        &.is-active{

          &:after{
            width:calc(100% - 20px);
          }
        }
      }
    }
  }

  @include breakMinMax(0px, 767px){
    position:fixed;
    right:0;
    top:120px;
    padding:10px 20px 40px 60px;
    background-color:#fff;
    box-shadow: 0px 10px 10px 2px rgba(#000, .1);
    @include animate_all(all .4s);
    @include position_custom_X(100%);

    &.activ{
      @include animate_all(all .2s);
      @include position_custom_X(0%);
    }

    .small &{
      top:68px;
    }

    .menu{
      display: block;
      text-align: right;

      li{

        a{
          display: inline-block;
          margin:0;
          padding:10px 0 5px;

          &:hover,
          &.is-active{

            &:after{
              width:calc(100% + 20px);
            }
          }
        }
      }
    }
  }

  @include break(768px){

    .menu{

      li{

        a{
          display: block;
          padding:10px;
          margin-left:74px;

          .small &{
            margin-left:40px;
          }
        }

        &:first-of-type{
          a{
            margin-left:0;
          }
        }
      }
    }
  }
}

#block-adchallenge-branding{

  a{
    display: block;
    width:220px;

    img{
      width:100%;
      height:auto;
    }
  }
}

.hamby_wrap{
	cursor:pointer;
	z-index:5;
  @include animate_all(all .8s);

  @include break(768px){
    display: none;
  }
}

.l-hamby{
	position:relative;
	width:30px;
	height:18px;
	padding:0px;
	margin:0px auto;
	border:none;
	//overflow:hidden;
	// @include oublack;

	&:focus{
		outline:none;
	}

	span{
		position:absolute;
		top:50%;
		left:50%;
		@include position_center;
		display:block;
		height:2px;
		width:80%;
		background-color:#000;
		@include animate_all(all .4s .4s);
	}

	&:before,
	&:after{
		content:"";
		display:block;
		position:absolute;
		left:50%;
		width:100%;
		height:2px;
		background-color:#000;
		@include transform(translate(-50%, 0%));
		//-webkit-transform:rotate(90deg);
		//transform:rotate(90deg);
		// transform-origin: 5% 5%;
		-webkit-transition: transform .4s, top .4s .4s;
		-moz-transition: transform .4s, top .4s .4s;
		-o-transition: transform .4s, top .4s .4s;
		transition: transform .4s, top .4s .4s;
	}

	&:before{
		top:0px;
	}

	&:after{
		top:calc(100% - 2px);
	}

	&.activ{

		span{
			width:0;
			@include animate_all(all .4s);
		}

		&:before,
		&:after{
			top:50%;
			// width:150%;
			background-color:$color_red;
			@include transform(translate(-50%, -50%) rotate(45deg));

			-webkit-transition: top .4s, transform .4s .4s;
			-moz-transition: top .4s, transform .4s .4s;
			-o-transition: top .4s, transform .4s .4s;
			transition: top .4s, transform .4s .4s;
		}

		&:after{
			@include transform(translate(-50%, -50%) rotate(-45deg));
		}
	}
}
