$bckg-page	: #fff;
$color_font : #626262;
$font-size  : 14px;

$color_red: #ef371f;
$color_blue: #00a1e5;
$color_yellow: #FCBF57;
$color_blue: #06719d;
$color_gray: #333333;


$font-custom: 'Ubuntu', sans-serif;

$font-body     		: 'Playfair Display', serif;
$font-body-weight	: 500;

$link-color:$color_blue;
$link-color-hover:$color_blue;

$font-menu: $font-body;

$font-heading  			: $font-body;
$font-heading-weight: 400;

$wrap: 1090px;
$header_break_point: 768px;

// hamburger menu color lines:
$hamby_color: $color_blue;
$hamby_color_active: $color_red;
$hamby_fat  : 2px;

/*
-webkit-animation: $slide_animation_in_left .6s linear 0s 1 normal both;
animation: $slide_animation_in_left .6s linear 0s 1 normal both;
*/

@mixin font_ikonce{
	font-family: 'FontAwesome' !important;
}

//Absolutne pozicije CENTRIRANJE
@mixin position_center_Y() {
  -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin position_center() {
  -webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
@mixin position_center_X() {
  -webkit-transform: translatex(-50%);
	transform: translateX(-50%);
}
@mixin position_custom_X($x) {
  -webkit-transform: translateX($x);
	transform: translateX($x);
}
@mixin position_custom_Y($y) {
  -webkit-transform: translateY($y);
	transform: translateY($y);
}
@mixin position_custom($x,$y) {
  -webkit-transform: translate($x,$y);
	transform: translate($x,$y);
}

@mixin transform($transform) {
  -webkit-transform:$transform;
	transform:$transform;
}


@mixin bckg_after($barva, $opacity){
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba($barva, $opacity);
}

@mixin reset_all(){
	height:auto;
	width:auto;
	top:auto;
	right:auto;
	bottom:auto;
	left:auto;
	-webkit-transform: translate(0%,0%);
	transform: translate(0%,0%);
}

@mixin outline($color){
	outline: 1px solid $color;
}
@mixin oublack(){
	outline: 1px solid #000;
}
@mixin ouwhite(){
	outline: 1px solid #fff;
}


// border radius mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// animate

@mixin animate($kaj, $animate) {
  -webkit-transition:$kaj $animate;
		 -moz-transition:$kaj $animate;
					transition:$kaj $animate;
}

@mixin animate_all($animacija) {
  -webkit-transition:$animacija;
		 -moz-transition:$animacija;
					transition:$animacija;
}

@mixin flex(){
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flex_direction($direction){
	-webkit-flex-direction: $direction;
					flex-direction: $direction;
}
@mixin flex_align($align){
	-webkit-align-items: $align;
					align-items: $align;
}
@mixin flex_justify($justify){
	-webkit-justify-content: $justify;
					justify-content: $justify;
}
@mixin flex_wrap($wrap){
	-webkit-flex-wrap: $wrap;
					flex-wrap: $wrap;
}

@mixin break($media) {

	@media only screen and (min-width: $media) { @content; }
	//@media only screen and (min-width: $media) and (max-width: $break-large - 1) { @content; }
}
@mixin breakHeight($media) {

	@media only screen and (min-height: $media) { @content; }
	//@media only screen and (min-width: $media) and (max-width: $break-large - 1) { @content; }
}
@mixin breakMinMax($min, $max) {

	@media only screen and (min-width: $min) and (max-width: $max) { @content; }
	//@media only screen and (min-width: $media) and (max-width: $break-large - 1) { @content; }
}



@mixin font_size($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 1400px) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}
