@import 'variables';
@import 'config';
@import 'clean';
@import 'header';
@import 'footer';

main{
  padding-top:240px;
  overflow: hidden;
  min-height:calc(100vh - 197px);

  .page-node-type-article &{
    margin-bottom:209px;
  }

  .view-content{
    @include flex;
    @include flex_wrap(wrap);
    // @include flex_justify(center);
    @include flex_justify(space-between);
    margin:0 -30px;

    .views-row{
      flex: 1 1 420px;
      margin:0 30px;

      &:nth-of-type(1){
        flex: 1 1 100%;
        max-width:100%;

        article{
          margin-bottom:100px;

          h2{
            position:relative;
            padding-top:15px;
            margin-bottom:24px;

            &:before{
              content:"";
              display:block;
              width:100px;
              height:4px;
              background-color: #626262;
              position:absolute;
              top:0;
              left:0;
            }
          }
        }
      }
    }

    article{
      // @include oublack;
      margin-bottom:80px;

      a{
        display: block;
      }

      h2{
        font-size:30px;
        line-height:1.2;
        margin-bottom:24px;
      }

      img{
        max-width:100%;
        width:100%;
        height:auto;
      }

      .field--type-text-with-summary{
        height:67px;
        overflow: hidden;
        // @include oublack;
        font-size:14px;
        line-height:1.71;
      }
    }
  }

  .layout-content{

    .page-node-type-article &{

      @include break(768px){
        @include flex;
        @include flex_justify(center);

        .region-content{
          max-width:660px;
          margin-right:48px;
        }

        aside{
          width:250px;
        }
      }
    }
  }
}

.field--type-text-with-summary{
  height:67px;
  overflow: hidden;
  // @include oublack;
  font-size:14px;
  line-height:1.71;

  .page-node-type-article &{
    height:auto;
    overflow: visible;

    figure{
      margin:24px 0 22px;

      figcaption{
        font-style: italic;
        padding:20px;
      }
    }
  }
}


.field--name-field-tags{
  display: block;
  margin:30px 0 20px;
  line-height: 1;

  .page-node-type-article &{
    margin:30px 0 40px;
  }

  a{
    font-family: $font-custom;
    text-transform: uppercase;
    color:#b4ad9e;
  }
}


aside{
  margin-top:60px;

  @include break(768px){
    margin-top:0;
  }

  .view-content{
    display: block;
  }

  h2{
    font-family: $font-custom;
    text-transform: uppercase;
    color:#b4ad9e;
    font-size: $font-size;
    margin-bottom:25px;
  }

  .views-field-changed{
    display: none;
  }

  .item-list{

    ul{
      list-style-type: none;

      li{
        margin:0;
        padding:0;
        margin-left:20px;

        a{
          position:relative;
          display: block;
          line-height:1.2;
          padding:0px 0px 10px 20px;
          font-size: 16px;

          &:before{
            content:"";
            display: inline-block;
            position:absolute;
            left:0;
            top:7px;
            width:5px;
            height:5px;
            background-color:#b4ad9e;
            @include border_radius(50%);
            margin-right:20px;
            @include animate_all(all .4s);
          }

          &:hover{

            &:before{
              width:10px;
              height:10px;
              left:-2px;
              top:5px;
            }
          }
        }
      }
    }
  }

  .add_banner{
    position:relative;
    margin-top:30px;
    width:100%;
    height:250px;
    font-size:12px;
    background-image: url(../images/aside_banner.jpg);
    background-repeat: no-repeat;
    background-size:100% auto;
    cursor:pointer;

    &:before {
    	top: 100%;
    	left: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(136, 183, 213, 0);
    	border-bottom-color: #ef371f;
    	border-width: 10px;
    	margin-left: -10px;
      margin-top:20px;
      opacity:0;
      visibility: hidden;
      @include animate_all(all .8s);
    }

    &:after{
      position:absolute;
      top:100%;
      left:50%;
      width:80%;
      margin-top:40px;
      @include position_center_X;
      content:attr(data-tip);
      border:1px solid $color_red;
      padding:10px;
      text-align: center;
      box-shadow: 0px 10px 10px 2px rgba(#000, .1);
      opacity:0;
      visibility: hidden;
      @include animate_all(all .8s);
    }

    &:hover{

      &:before{
        opacity: 1;
        visibility: visible;
        margin-top:0;
      }
      &:after{
        opacity: 1;
        visibility: visible;
        margin-top:20px;
      }
    }
  }
}
