{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="wrap">
      {{ content }}

      {% if (region == 'footer')  %}
        <p class="create_by">Created by: <a href="https://www.agiledrop.si/" target="_blank">AGILEDROP</a></p>
      {% endif %}

      {% if (region == 'header')  %}
        <div class="hamby_wrap">
          <div class="l-hamby"><span></span></div>
        </div>
      {% endif %}

      {# ***************************************** I hard coded this so it can sty here forever :)  ** #}
  </div>
{% endif %}
